body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #292563;
  height: 100vh;
  padding: 0;
  margin: 0;
}

img {
  width: 170px;
  height: 210px;
  /* animation-duration: 1s;
  animation-timing-function: linear; */
}

.img1{
  animation: 
    mover1 1s linear forwards,
    moverR 1s 1s infinite alternate linear; 

}

.img2{
  animation: 
    mover4 1s linear forwards,
    moverR 1s 1s infinite alternate linear; 
}

.img3{
  animation: 
    mover3 1s linear forwards,
    moverR 1s 1s infinite alternate linear; 
}

.img4{
  animation: 
    mover4 1s linear forwards,
    moverR 1s 1s infinite alternate linear; 
}

.textc{
  border-radius: 20px;
  color: black;
  background-color: white;
  padding: 1%;
  margin-top: 2%;
  animation-name: fadeInFromNone;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.bounce {
  text-align:center;
  margin:0 auto;
  margin-top: 20px;
  height:20px;
  width:150px;
  padding:20px;  
  background:tomato;
  border-radius: 100px;
  animation-name: fadeInFromNone;
  animation-duration: 2s;
  animation-timing-function: linear;
}

.img5{
  width: 120px;
  height: 170px;
  animation-name: mover4;
  margin-left: 10%;
  animation: 
    mover4 1s linear forwards,
    moverR 1s 1s infinite alternate linear; 
}

.column {
  flex: 25%;
  height: 90vh;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.column2 {
  flex: 80%;
  height: 200px;
  padding: 10px;
  margin: 5px;
  text-align: center;
}

.container {
   display: flex;
}

@keyframes mover1 {
  
  0%{
    transform: translateX(-70%) rotate(250deg);
  }
  100%{
    transform: translateX(0%) rotate(0);
  }

}

@keyframes mover2 {
  
  0%{
    transform: translateY(100%) rotate(320deg);
  }
  100%{
    transform: translateY(0%) rotate(0);
  }

}

@keyframes mover3 {
  
  0%{
    transform: translateY(-100%)  rotate(0);;
    
  }
  100%{
    transform: translateY(0%)  rotate(360deg);;
  }

}

@keyframes mover4 {
  
  0%{
    transform: translateX(100%) rotate(270deg);
  }
  100%{
    transform: translateX(0%) rotate(0);
  }

}

@keyframes mover4 {
  
  0%{
    transform: translatey(-100%) rotate(270deg);
  }
  100%{
    transform: translatey(0) rotate(0);
  }

}

@keyframes moverR {
  
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(10deg);
  }

}

@keyframes fadeInFromNone {
  0% {
      display: none;
      opacity: 0;
  }

  1% {
      display: block;
      opacity: 0;
  }

  100% {
      display: block;
      opacity: 1;
  }
}